@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
    font-family: 'Lexend Deca', serif;
}

.logo {
    margin-top: 40px;
    width: 45%;
    height: auto;
}

body {
    background-color: #290D5C;
    background-image: linear-gradient(#290D5C, #030026);
}

header {
    color: #F1E9FF;
    padding:  20px;
    text-align: center;
}

.mobile-warning {
    visibility: hidden;
}

nav ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    position: relative;
}

nav ul::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    z-index: -1;
}

nav li button.nav-btn a:hover {
    background-color: #120629b9;
    border-radius:  10px;
}

.header-buttons-1:hover, .header-buttons-2:hover, .header-buttons-3:hover {
    transform: scale(1.1);
    transition: transform  0.3s ease;
}

.header-buttons-1::after, .header-buttons-2::after, .header-buttons-3::after {
    transform: scale(0.9);
    transition: transform  0.3s ease;
}

.header-buttons {
    display: flex;
    justify-content: center;
}

.header-buttons-1 {
    padding-left: 20px;
    padding-right: 20px;
}

.header-buttons-2 {
    padding-left: 20px;
    padding-right: 20px;
}

.header-buttons-3 {
    padding-left: 20px;
    padding-right: 20px;
}

nav li {
    display: inline-block;
}

nav li button.nav-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: large;
    
}

nav li button.nav-btn a {
    display: block;
    color: white;
    text-align: center;
    padding:  10px 20px;
    text-decoration: none;
    margin: 6px;
}

@media (max-width: 400px) {

    .mobile-warning {
        visibility: visible;
        text-align: center;
        color: #761F26;
    }

    .logo {
        margin-top: 40px;
        width: 90%;
        height: auto;
    }

    .header-buttons {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
    }

    .trailer-embed{
        margin-top: 40px;
        border-radius: 10px;
        text-align: center;
        width: auto;
        height: 50%;
    }
}

.trailer-embed{
    margin-top: 40px;
    border-radius: 10px;
    text-align: center;
}

.about {
    max-width: 1150px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
}

.about h2 {
    font-size: 2.0rem;
    color: #E7D9FF;
    margin-bottom: 1rem;
    text-align: center;
}

.about p {
    font-size: 1.0rem;
    line-height: 1.5;
    color: #F1E9FF;
    margin-bottom: 1rem;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-b1 {
    flex: 1;
    max-width: calc(50% - 20px);
    text-align: right;
}

.footer-b2 {
    flex: 1;
    max-width: calc(50% - 20px);
    text-align: left;
}

.footer-help {
    text-align: center;
    color: #E6DEF4;
}

.footer-help a {
    color: #b66bb5;
    text-decoration: none;
    display: inline-block;
}

.footer-text a {
    color: #b66bb5;
    text-decoration: none;
    display: inline;
    padding: 10px 0;
}

.footer-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #E6DEF4;
}